<ul>
 <% @restaurante.errors.full_messages.each do |msg| %>
   <li> <p style = "color:red"> <%= msg %> </p> </li>
 <% end %>
</ul>

<%= form_for @restaurante do |f| %>
	Nome: <%= f.text_field :nome %> <br><br>
	Endereço: <%= f.text_field :endereco %> <br><br>
	Especialidade: <%= f.text_field :especialidade %> <br><br>
	<%= f.submit %>
<% end %>