<!DOCTYPE html>
<html>
<head>
  <title>VotaPrato</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= yield :css %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body style = "background-color:#ccffcc">
  
  <%= menu_principal %w(restaurantes clientes qualificacoes) %>

<br>

<%= yield %>

</body>
</html>
